.card{
    width: 380px;
    top: 50px;
    text-align: center;  
    min-height : 500px;
    margin : 10px;
    height : 550px
}
.card-div{
    width: 330px;
    margin: auto;
}
.card-title{
    color: blue;
}
img{
    object-fit: cover;
}
.card:hover .card-heading{
    color: blue;
}
.card-p{
    font-size: 20px;
    text-align:center
}
.card:hover{
    height: 540px;
    border-right: 10px solid yellow;
    border-bottom: 10px solid yellow;
    box-shadow: rgba(136, 136, 136, 0.322) 3px 3px 3px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    opacity: .87;
    /* transition: 0.3s; */
    
}
