.life-div {
    /* border: 1px solid black; */
    text-align: center;
}

.life-content-card {
    background-color: #e7fcff;
    /* text-align: center; */
}

.life-content-card>img {
    width: 100%;
}

.life-content-card>div {
    padding: 0px 3%;
}

.life-content-label {
    color: #394bd6;
}