.life-div {
    text-align: center;
}

.life-content-card {
    background-color: #e7fcff;
    margin-bottom: 2vw;
}

.life-content-card>img {
    width: 100%;
}

.life-content-card>div {
    padding: 0px 3%;
}

.life-content-label {
    color: #394bd6;
}